/* Additional styles */

body {
  font-family: "Open Sans";
}

/* My standard vertical spacing classes */
.navbar-default{
    background-color:white;
}

body{
       background-color: rgb(251, 251, 251);
}
 nav a {
  color: rgb(0,126,229) !important;
}

h1, h2{
font-weight: 300;
line-height: 125%;
color:rgb(68, 68, 68);
}


p{
font-weight: 200;
font-size: 20px;
line-height: 175%;
color:rgb(68, 68, 68);
}

.background-gsn{
  background-color: white;
  }

h4{
color: rgb(153,153,153);
font-size: 16px;
font-weight: 700;
margin-bottom: 10px;
}

footer li{
  color: rgb(119,119,119);
  margin: 0.5em 0;
  margin-right: 10px;
}

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
